@import './Theme.css';

.title-bar {
  height: 20%;
  width: 100%;
}
.headerContact {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: left;
  font-family: var(--theme-font-montserrat);
  font-weight: bold;
  letter-spacing: 2px;
  position: fixed;
  margin-left: 1.75em;
  margin-top: 1.25em;
  padding-inline: 0.4em;
  border-radius: 1em;
  color: var(--theme-orange);
  background-color: rgba(0, 0, 0, 0.65);
}
.headerPhoneNumber {
  font-size: 1.35em;
  text-decoration: none;
  color: var(--theme-orange);
  margin-top: 0.5em;
  margin-bottom: 0;
}
.headerPhoneNumber:hover,
.headerEmail:hover,
#scheduleService:hover {
  color: var(--theme-offwhite);
  cursor: pointer;
}
.headerEmail {
  font-size: 1.25em;
  text-decoration: none;
  color: var(--theme-orange);
  margin-top: 0.5em;
}
.bi.bi-calendar2-event {
  font-size: 0.85em;
}
#scheduleService {
  font-size: 1.7em;
  color: var(--theme-blue);
  font-weight: normal;
  text-decoration: none;
}
#scheduleService:hover {
  color: var(--theme-offwhite);
  font-weight: bolder;
}
.header {
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background-image: url('./images/shaun-orange-camaro.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerGraphics {
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.headerWordMark {
  margin-top: 8em;
  margin-bottom: 3em;
  width: 100%;
  padding-bottom: 6.5em;
}
