.shop {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr;
  grid-template-rows: masonry;
  grid-template-areas:
    '.     .      .     .'
    '.   title  title  cart'
    '.    img    car    .'
    '.    img  service  date'
    '. salescopy  add   .'
    '.  disclaim  .     .';

  font-family: var(--theme-font-varela);
  font-size: 2em;
  text-align: center;
  background-color: var(--theme-offwhite);
}
.cart {
  grid-area: cart;
  font-size: 1.2em;
  height: 2em;
  grid-area: cart;
  color: var(--theme-orange);
  background: transparent;
  border: none;
}
.title {
  grid-area: title;
  font-size: 1em;
  margin-block: 1em;
}
.shopImage {
  grid-area: img;
  width: 40%;
}
.salesCopy {
  grid-area: salescopy;
  font-size: 0.5em;
}
.disclaimer {
  grid-area: disclaim;
  font-size: 0.5em;
}
.servicePicker {
  grid-area: car;
  display: flex;
  flex-direction: column;
  font-size: 0.5em;
  width: 1fr;
}
.prompt {
  font-size: 1.1em;
  margin: 0;
}
.dateTime {
  color: white;
  border: none;
  background: black;
  margin-top: 2em;
}
.addService {
  grid-area: add;
}
.addToCart {
  font-size: 1em;
  height: 1.5em;
}
